<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.PictureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Picture">
        <id column="id" property="id" />
        <result column="wallpaper_id" property="wallpaperId" />
        <result column="small_pic_url" property="smallPicUrl" />
        <result column="big_pic_url" property="bigPicUrl" />
        <result column="createtime" property="createtime" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, wallpaper_id AS wallpaperId, small_pic_url AS smallPicUrl, big_pic_url AS bigPicUrl, createtime, version
    </sql>

</mapper>
